{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
	{% for post in posts %}
	<!--이 div가 lg(width >= 992px)일 때, 4/12의 크기를 가지며 4/12 위치를 기준으로 시작함-->
	<div id="post-{{ post.pk }}"class="col col-lg-4 offset-lg-4 mb-4">
		<!--Card모양에 대해 미리 정의된 클래스-->
		<div class="card">
			<!--작성자 정보를 나타낼 header부분-->
			<div class="card-header">
{#                <!--<div style="width: 30px; height: 30px; display: inline-block; vertical-align: middle;">#}
{#                    <a href="#" style="background-image: url('{{ post.author.img_profile.url }}');#}
{#                            display: inline-block;#}
{#                            width: 100%; height: 100%;#}
{#                            background-size: cover;#}
{#                            background-position: center center;#}
{#                            vertical-align: middle;"#}
{#                    class="rounded-circle"></a>#}
{#                </div>-->#}
{#                위의 코드는 너무 복잡하여 아래의 프로필 이미지를 출력하는 코드로 변경#}
                <span>
                    <a href="#">
                        <img src="{{ post.author.img_profile_url }}
{#                        {% if post.author.img_profile %}#}
{#                            {{ post.author.img_profile.url }}#}
{#                        {% else %}#}
{#                            {% static 'images/blank_user.png' %}#}
{#                        {% endif %}#}
                            " style="width: 30px; height: 30px; border-radius: 100%">
                    </a>
                </span>
                <span>{{ post.author }}</span>
			</div>
{#                <span>#}
{#                    <a href="#">#}
{#                        <img src="{{ post.author.img_profile_url }}" style="width: 30px; height: 30px; border-radius: 100%;">#}
{#                    </a>#}
{#                </span>#}
{#                <span>{{ post.author }}</span>#}
			<!--Card의 본문 부분-->
			<div class="card-body">
				<img src="{{ post.photo.url }}" class="card-img-top">
                {% if user.is_authenticated %}
{#                   로그인한 경우에만 버튼이 표시#}
                    <form action="{% url 'posts:post-like-toggle' post_pk=post.pk %}" method="POST">
                    {% csrf_token %}
                        <button class="btn btn-primary btn-sm" type="submit" style="margin-top: 5px;">
                            {% if user in post.like_users.all %}
{#                                포스타가 가지고있는 좋아요를 누른 모든 유저 목록에 있다면 좋아요 해제#}
                                좋아요 해제
                            {% else %}
{#                                없는 유저일 경우 좋아요#}
                                좋아요
                            {% endif %}
                        </button>
                    </form>
                {% endif %}

                <div>
                    <span>이 게시물을 좋아하는 사람</span>
                    <strong>{{ post.like_users.all|join:", " }}</strong>
                </div>

                <ul class="list-unstyled">
                    {% for comment in post.comments.all %}
                    <li>
                        <strong>{{ comment.author }}</strong>
                        <!-- 여기서 | safe 옵션을 주는 이유는 posts/models.py에서
                        작성한 a태그 생성 코드를 그대로 보여주는 것이 아니라 html에 맞게 변형시켜주는 역할을 한다 -->
                        <span>{{ comment.html | safe }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% if user.is_authenticated %}
                <form action="{% url 'posts:comment-create' post_pk=post.pk %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.content }}
                    <button class="btn btn-primary btn-block" type="submit">작성</button>
                </form>
                {% endif %}
			</div>
		</div>
	</div>
	{% endfor %}

</div>
{% endblock %}